.thirdDiv
{
    text-align: center;
    padding: 2px;
    background-color: rgb(100, 98, 98);
    color: whitesmoke;
}
.skillLi li
{
    background-color: rgb(100, 98, 98);
    border: none;
    color: whitesmoke;
}

.skillLi li:first-child
{
    text-decoration: underline;
    margin: 2px;
}
.proLi li
{
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    width: 30em;

}
